@import url(http://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Roboto+Condensed|Source+Sans+Pro:300,400,700);

body {
	background: #EACF6D;
	/* background-color: #000000 FOND noir */
	background-color: #EACF6D;
	background-repeat: no-repeat;
	margin:0;
	padding:0;
	font-family: 'Encode Sans Condensed', 'sans-serif'; /* font */
	
	font-size: 1.1em;
	color: #545B64;
	font-weight: 300;
	
	min-width: 700px; /* j'approuve */
}

.motpres {
	font-size: calc(0.5em + 0.5vw);
}
* {
	margin:0;
	padding:0;
}

/** element defaults **/
table {
	width: 100%;
	text-align: middle;
	color: #ffffff
}

th, td {
	padding: 5px 0px;
	line-height: 1.2em;
	text-align:center;
	border-bottom: 2px solid #1F2023;
}
.perf td { width: inherit;}

.coureurs td{ width : 25%;} /* pour diviser l'espqce proprement en 4 */

.gauche { text-align: left;}

th {
	color: #ffffff;
	font-weight: bold;
	
}

p {
	line-height: 1.7em;
	margin-bottom: 25px;
	color: #ffffff;
	text-align: justify;
}

a {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	text-decoration: none;
}

a:hover {
	border-bottom-color: #5DA1C3;
	color: #5DA1C3;
}

a:focus {
	outline: none;
}


a.button { background: #5DA1C3;
color: #FFF;
display: inline-block;

    padding: 8px 22px;

    font-size: 0.85em;
    letter-spacing: 0.25px;
	line-height: 1.3em;
border-radius: 5px;	
text-decoration: none;
	border:none;
text-transform: uppercase;
font-weight: bold;
}

a.button:hover {
	background:#4995BC;
}

a.button-reversed { 
	background-color: #ddd;
	color: #666;
}

a.button-reversed:hover {
	background: #ccc;
}

fieldset {
	display: block;
	border: none;
	border-top: 1px solid #1F2023;
}

fieldset legend {
	font-weight: bold;
	font-size: 0.9em;
	padding-right: 10px;
}

fieldset form {
	padding-top: 15px;
	display: inline-block;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: none;
	background-color:#fff;
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 0.9em;
	width: calc(100px + 25%);
}

form textarea
{
	height: 10em;
	width: calc(100px + 40%);
}
form input.formbutton {
background: none repeat scroll 0% 0% #5DA1C3;
color: #FFF;
display: inline-block;

    padding: 8px 22px;

    font-size: 0.75em;
    letter-spacing: 0.25px;
	line-height: 1.3em;
border-radius: 5px;	
text-decoration: none;
	border:none;
text-transform: uppercase;
font-weight: bold;


	width: auto;
	overflow: visible;
}

form.searchform input {
  font-size: 0.9em;
    padding: 6px;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	color: #ff0000;
}

h1 {
	color: #eee;
	font-size: 2.7em;
	margin-bottom: 10px;
}

h2 {
	color: #EACF6D; /* jaune pale*/
font-size: 2.8em;
/*letter-spacing: -1.5px;*/
padding: 0px 0px 0px;
font-weight: bold;
margin: 0px;
}

h3 {
	color: #EACF6D;
	font-size: 1.9em;
	font-weight: 600;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

h4 {
    color: #EACF6D;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 10px;
	font-weight: bold;
}

h5 {
	padding-bottom: 10px;
	font-size: 1.1em;
	color: #ffffff;	
}

ul, ol {
	margin: 0 0 5px 35px;
	padding: 0px;
	list-style: disc;
}

li {
	padding-bottom: 5px;
	color: #ffffff
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 0px;
}


.width {
	max-width: 1100px; /*au dela de cette largeur, on élargit plus rien*/	
	margin: 0 auto;
}


#container {
	width: auto;
	margin: 0 auto;
}

header {
	padding: 0;
	z-index: 9999;
	border-radius: 10px;
	opacity: 0.97;
	margin: 20px 0 0;
	position: relative;
	text-align: left;
	background-color: #363A3F;
	min-width: 700px;
}





header h1 a {
	float: left;
    color: #fff;
    padding:  25px 0px 0% 2%	; /* title VCS Altkirch dans nAv */
    font-size: calc(21px + 1vw);
    border-bottom: none;
    text-transform: uppercase;
    display: inline;
    font-weight: bold;
}
 header h1 a:hover {
	text-decoration: underline;
	color: #fff;
}

nav {
	display: inline;
	float: right;
	min-width: 500px;
	font-size: calc(10px + 0.8vw);
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

nav ul ul { 
	margin: 0;
	padding: 0 0 5% 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

nav ul li {
	display: block;
	float: left;
	padding: 0,005%;
}

nav ul li li {
	padding: 0;
}


nav ul li a {
	display: block;
	float: left;
	padding: 32px 18px;
    color: #fff;
    font-size: 0.95em;
	margin: 0;
    border-bottom: none;
	letter-spacing: 0px;
}

nav ul li a i { padding-right: 5px; }

nav ul li li a { /* espaces inter sous menus */
	float: none;
	padding: 5% 0% 5% 8%; /* . . _ espace vertical entre _ marge vide à gauche */
}

nav ul li a:hover {
	color: #fff;
	text-decoration: none;
}
nav.selected {
	font-weight: bold;
}
nav ul li.selected a, nav ul li.selected a:hover { /* section actuelle en haut */
	color: #fff;
	font-weight: bold;
	
}


nav ul li a:hover, nav ul li.sfHover a {
	color: #fff;
}


nav ul li a.sf-with-ul:hover, nav ul li.sfHover a {
	color: #fff;
}


 nav ul li.sfHover ul a, nav ul ul {
	background: #363A3F;
}

nav ul li.sf-with-ul.selected ul li a, nav ul li.selected.sfHover li a,  nav ul li.sfHover a a, nav ul li.selected li a  {
	font-weight: normal;
}

nav ul li li a:hover, nav ul li.sfHover li a:hover {
	color: #fff;
	background-color: #2A2E32;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			200px; /* left offset of submenus need to match (see below) */
	margin-top: 	10px;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			71px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			auto; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/* intro */
div#intro {
	background-position: left;
	background-repeat: no-repeat;
}

div#intro .intro-content {
	padding: 	0px;
	text-align: center;file:///C:/Users/Florian/Documents/VCS-Altkirch/images/logo.png
}


.indexwelcome {padding: 10px 0px 15px 0px ;} /* h2 titre index */ 

.pagestitle {padding: 8px 0px 15px 0px;} /*titres autres pages*/

div#intro .intro-content img{ /* pour les images de cover */
	padding: 5px 0px 5px 0px;
	border-radius: 10px;
}

div#intro .intro-content img.logo { /* logos de l'index */
	padding: 8px 3% 8px 3% ;
	width : calc(4em + 1vw);
	height : auto;
}



/*
div#intro div.intro-content-short {
	padding: 50px 0 40px 20px;
	text-align: left;
}
*/

div#intro h2 {
	text-shadow: 1px 1px 0 #000;
	font-size: calc(2.2em + 1vw); /* celui ci pour le titre */
}


div#intro div.intro-content-short h2 {	
	font-size: 2.5em;
}

div#intro h2, div#intro p {
	color: #363A3F;
	font-weight: bold;
}

div#intro p {
	font-size: 1.3em;
	color: #ddd;
	line-height: 1.3em;
}
div#body.no-intro {
	margin-top: 30px !important;
}

a.button-slider {
	padding: 18px 25px;
	font-size: 0.8em;
	text-align: center;
	border: 2px solid #3F87AB;
	margin: 0px 10px 0px 0;
}

a.button-slider.button-reversed {
	border-color: #999;
}

a.button-slider i { padding-right: 5px; }

img {
	max-width: 100%;
	height: auto;
}

#body {
	margin: 0 auto;
 	padding: 0;
	clear: both;
}

#content {
	padding: 1%;
	background-color: #363A3F;
    	float: left;
	border-radius: 10px;
}
#content h2 {
	font-size: calc(1em + 1.9vw); /* celui ci pour le titre */
	padding: 0 0 0.2em 0;
}

.two-column {
	width: 66%;
}


.with-right-sidebar {
	margin-right: 0%;
}


article {
    padding: 10px 10px 20px 5px;
    color: #ffffff
 }

article .article-info {
    color: #ffffff;
    font-size: 0.9em;
    letter-spacing: -0.5px;
    padding: 0 0 10px 0;
    font-style: italic;
}

article .article-info a { 
	color: #ffffff;
}

.sidebar {
	opacity: 0.97;
	font-size: 1.05em;
	width: 30%;
	min-width: 25%;
}


.left-sidebar { 
	float: left;
}

.right-sidebar {
	float: right;
}



.sidebar h4 {
	padding-bottom: 0;
	font-size: 1.4em;
	color: #ffffff;
	letter-spacing: -1px;
	padding: 0;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	background-color: #2A2E32;
	border-radius: 10px;
	line-height: 1.9em;
	padding: 10px;
}


.sidebar ul li.bg, .sidebar ul li.bg li, .sidebar ul li.bg h4, .sidebar ul li.bg a, .sidebar ul li.bg a:hover {
	background-color: #5DA1C3;
	color: #fff;
}
.sidebar ul li.bg a, .sidebar ul li.bg a:hover {
	border-bottom-color: #fff;
}

.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 10px 2px;
	margin: 0;
	line-height: 1.2em; /*espacement vertical des puces à droite*/
	font-size: 1em; /* taille des puces à droite */
}

.sidebar li ul li.text { 
	border-bottom: none;
}

.sidebar li a {
	border-bottom-color: #6B7680;
	color:#ffffff; /* couleur du texte des liens à droite */
	
}


.sidebar li a:hover {
	color: #AEB5BC;
	 border-bottom-color: #AEB5BC; /* rien ? */
}

.sidebar ul.blocklist li {
	padding: 1px 0;
}

.sidebar ul.blocklist li a,
.sidebar ul.blocklist li a:hover { /* lien FSGT etc 3*/
	border-bottom: 0;
	display: block;
	padding: 2px 5px; /* espacement vertical - espacement à gauche */
}

.sidebar ul.blocklist li a.selected,
.sidebar ul.blocklist li a.selected:hover {
	font-weight: bold;
	text-decoration: underline #EACF6D; /* accentuation du menu correspondant à la page actuelle */
}

.sidebar ul.blocklist li a:hover {
	background-color: #1E2124;
	color: #A0A8B0;
}

.sidebar ul.topranks li {
	padding: 10px 0px;
}

.sidebar ul.topranks p {
	line-height: 2.1em;
	margin-bottom: 0;
	color: #ffffff;
}

.sidebar ul.topranks span.topranks-type { /* pour les news éventuellement à droite */ 
	background-color: #EACF6D;
	color: #000000;
	font-weight: bold;
	padding: 2px 4px;
}




.clear {
	clear: both;
}

footer {
	margin:50px auto 0;
	background: #1E2124;
	min-width: 98%; /* ajout */
}

footer p {
	text-align: left;
	color: #ffffff;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

footer p a {
	color: #ffffff;
	font-weight: bold;
}

.footer-content {
	padding: 1% 2%;
}

th, td a {
	border-bottom-style: none;
	border-bottom: none;
}

footer .footer-content ul {
	width: 25%;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

footer .footer-content li {
	padding: 5px 5px;
}

footer .footer-content li a, footer .footer-content h4 {
}


footer .footer-content li a {
	color: #ffffff;
	border-bottom-style: none; /* lien sponsors ? */
    
}

footer .footer-content li {
	color: #ffffff;
	line-height: 1.5em;
	font-size: 0.85em;
}

footer .footer-content li a:hover { 
	color: #ffffff;
	border-bottom-style:none ; /* liens sponsors avec souris ? */
}

footer .footer-content h4 {
	color: #EACF6D;;
    	font-size: 1.5em;
    	padding-bottom: 10px;
	font-weight: bold;
	letter-spacing: 0px;
}

footer .footer-bottom {
	padding: 10px;
	text-align: center;
	background-color: #131416;
}

footer .footer-bottom p {
	text-align: center;
}

footer .footer-bottom p, footer .footer-bottom p a {
	color: #42454C;
	border-bottom-color: #42454C;
}

div.social-icons a {
	border-bottom: none;
	margin-right: 15px;
}

.pasclickable { pointer-events:none;}


	
@media screen and (min-device-width: 740px) {
	.onmobile {display:none;}
}

 @media screen and (max-device-width: 740px) {
	 
	.serre{
	letter-spacing: -0.6px;
	}
	
	.oncomputer {display:none;}
	
	header {
	padding: 0px;
	z-index: 9999;
	opacity: 0.97;
	margin: 10px 5px 0 5px;
	position: relative;
	text-align: center;
	background-color: #363A3F;
	min-width: 98%;
}
	

	body { font-size: 0.7em; min-width: 98%}  

	
	header h1 a, header h1 a:hover { display : none;}

	header h1, nav { float: none; } 
	
/* #2c2f30 pour gris foncé */
	
	nav { height: auto; position: relative; font-size:1.3em; }

	nav ul { text-align: center; background-color: #2c2f30; } /*mini espace en bas */
	
	.sf-menu ul { position: relative; width: auto; display: block; margin: 0; }

	.sf-with-ul {background-color: #2c2f30;}
	
	nav ul .onmobile ul { margin-bottom: 0px; padding: 0px} /* autour des sous menus (marge, etc) */

	nav ul .onmobile li { float: none;  }

	nav ul .onmobile li a { padding: 6px 0px; } /*#MENU: ler l'espace vertical, le 2eme.. horizontaluseless */
	
	
	nav ul .onmobile li li a { padding: 5px 0 5px 0px;} /* padding: + et 3eme : espacement vertical. 2 et 4: centrage*/

	nav ul .onmobile li a, .sf-menu li { float: none; }
	
	nav ul .onmobile li ul li ul li a {background-color: #2c2f30;}
	
	nav ul li {
	display: block;
	float: left;
	padding: 0%;
	} 
	
	nav ul li ul {} /* MIni bordure autour */
	nav ul li ul li {} /* coins affectés par les arrondis */
	nav ul lu ul li ul {} /* rien */
	nav ul li ul li li {} /* rien */
	nav {} /* rien */

	nav ul .onmobile li li { margin: 0; }
	
	.logo {
		padding: 0.5% 10px 1% 10px;
	}
	div#intro .intro-content { 
		font-size: 0.7em;
	}
	div#intro .intro-content img{ /* pour les images de cover */
	padding: 3px 3px 3px 3px;
	border-radius: 10px;
}
	
	div#intro .intro-content h2 {
	}

}

	.indexwelcome {padding: 7px 0px 7px 0px ;} /* h2 titre index */ 

	.pagestitle {padding: 7px 0px 9px 0px;} /*titres autres pages*/	

	div#body { margin-top: 0px;} 

	.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 0; }
	*/
	

	
	/*nav ul li a { pointer-events: none; }*/
	.pasclickable { pointer-events:none;}
}

