{% extends "index.html.j2" %}

{% block title %}VCS Altkirch | 3h VTT du VCSA{% endblock title %}
{% block description %}Trouvez toutes les informations sur les organisations du VCS Altkirch, notamment le GP Agri-Center à Jettingen, le cyclo-cross de Saint-Bernard, ...{% endblock description %}

{% block ifindex %}{% endblock %}
{% block iftroisheures %}class="selected"{% endblock %}


{% block introcontent %}
<img class="cover cent" src="images/covers/cover_{{page_name}}.jpg" alt="3H VTT du VCSA">
{% endblock introcontent %}

{% block rightsidebar %}
{% endblock rightsidebar %}

{% block content %}



<section class="content racecontent">
 <!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Presentation')" id="defaultOpen">Présentation</button>
  <!-- <button class="tablinks" onclick="openCity(event, 'Reglement')">Règlement</button> -->
  <button class="tablinks" onclick="openCity(event, 'Inscriptions')">Règlement</button>
  <button class="tablinks" onclick="openCity(event, 'Parcours')">Parcours</button>

</div>

<!-- Tab content -->
<div id="Parcours" class="tabcontent" >
  <p>L'organisation des 3h VTT du VCS Alktirch a concocté pour la première édition de l'épreuve, en 2019, un parcours de 6km constitué de sentiers variés sur les hauteurs d'Altkirch, dont on ne soupçonne pas la variété et la qualité des chemins ! Singles tracks, montées, descentes, le parcours est très varié et comprend notamment à plusieurs reprises sur quelques dizaines de mètres, un itinéraire exigeant et un autre plus aisé en guise d'échappatoire. En 2020, le parcours sera globalement similaire, à quelques ajustements près.
    <br>
   <a href="https://www.strava.com/segments/20819667?filter=overall">Le segment du parcours 2019 sur Strava</a>.</p>


     
</div>

<!--
<div id="Reglement" class="tabcontent">
  <p>Règlement en cours de rédaction...</p>
</div>
-->

<div id="Inscriptions" class="tabcontent">
  <p>Règlement 2020 : <a href="https://vcs-altkirch.fr/reglement-3h.pdf">ici</a>.</p>
</div>

<div id="Presentation" class="tabcontent">
  <p><b>Prévue initialement le 12 juin, la deuxième édition des 3H VTT du VCS Altkirch est reportée au 12 septembre, en espérant que la situation permette que l'épreuve ait lieu d'ici là ! Le format proposé est une course en relais par équipe de 2 coureurs sur les hauteurs d'Altkirch, de 14h30 à 17h30 et suivie d'excellente lasagnes pour tous...</b></p>

<p>Toutes les infos sont sur la page Facebook de l'épreuve :</p>

  <div align="center">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fles3hvttduvcsaltkirch%2F&tabs=timeline&width=500&height=500&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="100%" height="500" style="border:none;overflow:hidden;text-align:center" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  </div>


<br>
<p><b>Retour sur l'édition 2019</b> : Avec pas loin de 60 duos et une météo idéale, cette première édition des 3H VTT du VCS Altkirch a été un véritable succès, et les coureurs comme spectateurs ont pu apprécier l'immense travail des organisateurs et bénévoles. Côté résultats, la victoire est revenue au duo Hase-Vélotop constitué de l'impressionnant Harold Flandre (qui a signé le meilleur temps du parcours) et de Cyril Grangladen. Ils ont devancé le duo Gaetan Steger - Jérémy Jaeg, contre lesquels ils ont longtemps lutté avant de les distancer. Un altkirchois est également monté sur le podium, puisque la 3ème place revient à Franck Dietlin, accompagné de Yannick Guillou (EC Colmar). Le duo altkirchois (et mi-allemand) Wegner-Wininger prend de son côté la 5ème place. </p>


      <div style="text-align:center;">  
    <img class="soixante" src="images/Podium_3H.jpg" alt="Podium scratch des 3H VTT" title="Podium scratch des 3H VTT">
    </div>

    <p>On retrouve ensuite dès la 13ème place le premier duo mixte (Dieffenthaler - Schreiber), tandis que Morandin-Pfirsch remportent le classement féminin.

    <p>Les classements complets, incluant les temps par tour <a href="https://www.fsgt-cyclisme-alsace.fr/VTT/resultats/resultats_altkirch.pdf">ICI</a>.<br>
      L'article du journal l'Alsace (en libre accès!) <a href="https://www.lalsace.fr/sport/2019/06/09/flandre-et-grangladen-font-la-paire">ici</a>, et la galerie photo de ce même journal <a href="https://www.lalsace.fr/actualite/2019/06/09/58-equipes-aux-3-heures-vtt-d-altkirch">là</a>.</br>
  </p> 
  
</div>

  

  

<footer class="troisheures">
<a href="https://www.facebook.com/les3hvttduvcsaltkirch/" class="fa fa-facebook"></a>
&nbsp; &nbsp; &nbsp; &nbsp;
<a href="mailto:les3hvttduvcsaltkirch@gmail.com" class="fa fa-envelope fa-lg"></a> :
<a href="mailto:les3hvttduvcsaltkirch@gmail.com">les3hvttduvcsaltkirch@gmail.com</a> </p>
</footer>

</section>


<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

{% endblock content %}
