{% extends "index.html.j2" %}

{% block title %}VCS Altkirch | Archives{% endblock title %}
{% block description %}Revivez tout ce qui s'est passé au Vélo Club Sungovia Altkirch...{% endblock description %}

{% block ifindex %}{% endblock %}
{% block ifarchives %}class="selected"{% endblock %}


{% block introcontent %}
<img class="cover cent" src="images/covers/cover_leclub.jpg" alt="Le Club">
{% endblock introcontent %}


{% block content %}
<section class="content two-column with-right-sidebar">
<h3>Actualités passées</h3>
<hr>
<h4>Assemblée Générale 2017</h4>
<div class="article-info">Rédigé le 4 décembre</div>
<p>Ce samedi avait lieu l'Assemblée Générale annuelle du Vélo Club, organisée dans la Salle de la Tuilerie de Hagenbach. Tous les membres du club ont participé à l'Assemblée Générale menée par le président Gilles Hartmann et son équipe, avant de partager un repas dans une  ambiance conviviale. Les coureurs, et notamment les nouvelles recrues, ont rangé pour un soir leurs maillots pour enfiler une chemise, afin de faire le bilan de la saison écoulée et de préparer la saison à venir.<br>
L'occasion également de découvrir le vélo dont seront équipés plusieurs coureurs pour la saison 2018, grâce à notre partenaire <b>a.s Bike</b>, qui fournit en effet 6 vélos Specialized Tarmac Expert ETap, que vous pouvez admirer ci-dessous... </p>
<div style="text-align:center"><img class="soixante" src="images/Velo2018.jpg" alt="Le vélo 2018" title="Le vélo 2018"></div>
</section>

<section class="content two-column with-right-sidebar">
<h4>Sönke Wegner sur les podiums</h4>
	<div class="article-info">Rédigé le 2 novembre</div>
	<p>En octobre et novembre, le samedi est souvent synonyme de <b>cyclo-cross FSGT</b>. Le 21 octobre, c'était à Heimsbrunn que s'étaient donné rendez-vous les spécialistes de la discipline. Et comme souvent, c'est Cyrille Fretz qui s'est imposé. La deuxième place y est revenue au coureur allemand du Vélo Club Sundgovia Altkirch <b>Sönke Wegner</b>. Le 28 octobre, un peu plus au nord, c'est à Wattwiller que Sönke est monté une nouvelle fois sur le podium, à la 3ème place. L'indétrônable Cyrille Fretz et Hervé Ridart le devancent.</p>
	<div style="text-align:center"><img class="cinquante" src="images/PodiumWegner.jpg" alt="Le podium à Wattwiller" title="Le podium à Wattwiller"></div>
	<p>À noter également les belles places de Alexis Ballester (7ème à Heimsbrunn et 11ème à Wattwiller), de Alexis Wolff (8ème à Wattwiller) et de Jérôme Heinis (8ème à Morschwiller-le-Bas).</p>

</section>

<section class="content two-column with-right-sidebar">
<h4>Cyclo-cross de Saint-Bernard</h4>
	<div class="article-info">Rédigé le 22 octobre</div>
	<p> Le VCSA organisait ce dimanche le traditionnel cyclo-cross FFC de Saint-Bernard, rassemblant comme tous les ans coureurs et spectateurs autour de l'église du village.<br>
	Dans la course reine, <b>la victoire est revenue à l'illustre sundgauvien Hugo Hofstetter </b>!
	Hugo, licencié VCS Altkirch et professionnel au sein du Team Cofidis, une semaine après avoir clôturé sa saison route sur la Tacx Pro Classics aux Pays-Bas, s'est imposé en devançant de 24 secondes <b>Lucas Brondani</b> (VCU Schwenheim, passé par le VCSA).
	Le podium est complété par le champion d'Alsace espoir <b>Emile Canal</b> (PE Haguenau, qui rejoindra le VCSA la saison prochaine).
	À noter également la belle 8ème place de Christophe Deis dans cette course.</p>

	<div style="text-align:center"><img class="cinquante" src="images/HugoSaintBernard.jpg" alt="La victoire de Hugo Hofstetter" title="Hugo Hofstetter a pu savourer sa victoire à domicile"></div>

	<br>
	<p> En ouverture, la course des Juniors, Masters et Féminines a été remportée par le champion d'Alsace junior <b>Lilian Schneider</b> (AC Thann) devant Quentin Rusch et Franck Brender (1er master), tous deux du VC Wittenheim. Juste derrière, Jérôme Heinis termine à la 4ème place et Alexis Wolff à la 5ème.</p>

	<div style="text-align:center"><img class="trente" src="images/StBernard2.jpg" alt="Jérôme Heinis (4eme)" title="Jérôme Heinis (4eme)">
	<img class="trente" src="images/StBernard3.jpg" alt="Lilian Schneider, vainqueur chez les juniors" title="Lilian Schneider, vainqueur">
	<img class="trente" src="images/StBernard4.jpg" alt="Alexis Wolff (5eme)" title="Alexis Wolff (5eme)"></div>

	<p>Un grand merci à Aurélie Tscheiller pour toutes les <b>photos</b> réalisées ce dimanche. Vous pouvez voir son album complet (plus de 500 photos!) sur Facebook en cliquant <a href="https://www.facebook.com/pg/AurelieTscheillerPhotographiesCyclistes/photos/?tab=album&album_id=1433719063408710">ici</a> !
	<br>Et pour consulter les <b>classements</b> de ce dimanche c'est <a href="http://www.grandestcyclisme.fr/images/StBernard22oct2017.pdf"> ici</a> ! Vous y trouverez également les classements des courses des écoles de cyclisme, minimes, cadets et cadettes qui ont rassemblé une soixantaine de partants.<br>
	Et enfin, vous pouvez lire <b>l'article du journal l'Alsace</b> sur la course reine (en accès libre) <a href="http://www.lalsace.fr/sport/2017/10/23/hofstetter-en-force">ici</a>.</p>

</section>

<section class="content two-column with-right-sidebar">
<h4>Une dernière grimpée FSGT victorieuse</h4>
	<div class="article-info">Rédigé le 10 octobre</div>
	<p>Ce samedi se disputait à Cravanche la <b>Montée du Salbert</b>, quatrième et dernière grimpée comptant pour le trophée DNA des grimpées 2017. C'est un coureur altkirchois qui s'y est imposé, puisque Julien Batlle, en terminant le chrono en 9'35, a réalisé le meilleur temps scratch !</p>
	<p>Coup double pour Julien qui, en empochant 50 points sur cette dernière grimpée, remporte le classement final du Trophée des grimpées chez les Seniors 1, avec 3 podiums en 3 participations. Il conserve ainsi son titre, puisqu'il avait déjà remporté ce trophée en 2016.</p>
	<p>Voir <a href="http://www.dna.fr/sports/2017/10/10/batlle-l-emporte-au-salbert">l'article des DNA (abonnés)</a>, <a href="https://fsgt-cyclisme-alsace.shost.ca/grimpees/resultats/resultat_salbert.pdf">le classement de la montée du Salbert</a> et <a href="https://fsgt-cyclisme-alsace.shost.ca/grimpees/resultats/challenge.pdf">le classement final du Trophée des grimpées 2017</a>.</p>
</section>

<section class="content two-column with-right-sidebar">
<h4>Retour sur le week-end du 23/24 septembre</h4>
	<div class="article-info">Rédigé le 28 septembre</div>
	<p> Le VCSA était présent sur plusieurs terrains ce week-end. Tout d'abord, samedi, le club était présent à Seppois-le-bas pour la <b>présentation du livre de Vincent Heyer "Les Grandes Heures du Sport Sundgauvien</b>" (<a href="http://www.lalsace.fr/haut-rhin/2017/06/01/les-grandes-heures-du-sport-sundgauvien">l'article de l'Alsace sur cet ouvrage</a>).</p>
	<div style="text-align:center"><img class="cinquante" src="images/PresentationLivre.jpg" alt="Le VCSA autour de Vincent Heyer" title="Le VCSA autour de Vincent Heyer"></div>

	<p>Du côté de Wittenheim cette fois, pour l'ouverture de la saison de cyclo-cross alsacienne, deux altkirchois sont montés sur le podium au classement général <b>Cross Tour Temps 2 Sport</b>, disputé en 3 étapes. Sönke Wegner a en effet pris la 3ème place chez les Juniors/Seniors, tandis que Grégory Weber a pris cette même 3ème place chez les vétérans.<br>
	Enfin, un peu plus loin, à Montigny-lès-Vesoul, Brieuc Heyer a pris part à <b>"La Fred Vichot"</b> (épreuve chronométrée). Dans le classement des coureurs individuels, il prend la deuxième place, seulement devancé par... Léo Vincent (FDJ).</p>
</section>

<section class="content two-column with-right-sidebar">
<h4>Daniel Fricker champion master du Grand Est</h4>
	<div class="article-info">Rédigé le 12 septembre</div>
	<p> Première année d'existence des championnats "Grand Est" et premier maillot de champion Grand Est acquis par le VCS Altkirch !<br>
	Daniel Fricker s'est en effet imposé dans la catégorie M4 ce dimanche 10 septembre à Goviller (Meurthe-et-Moselle).</p>
</section>

<section class="content two-column with-right-sidebar">
<h4>Retour sur le prix Agri-Center à Jettingen</h4>
	<div class="article-info">Rédigé le 28 août</div>
	<p> Ce dimanche, le VCS Altkirch organisait son traditionnel prix Agri-Center à Jettingen, sous l'égide de la FSGT. Les coureurs du club ont garni les podiums du jour, avec notamment les 2ème et 3ème place de Ludovic Klein et Julien Grimont dans la course des 2-3, remportée par Simon Bolot (AC Thann), tandis que René Schlienger montait sur la deuxième marche du podium chez les vétérans 4. <br>
	À noter également les 4ème places de Jérôme Jouanot (V4) et de Antoine Mattern (S4).<br>
	<a href="https://fsgt-cyclisme-alsace.shost.ca/route/resultats/resultats_jettingen.pdf">Les classements complets</a> et <a href="http://www.lalsace.fr/sport/2017/08/28/du-bon-bolot"> l'article de l'Alsace</a>.</p>
	<div style="text-align:center"><img class="quarante" src="images/PodiumJettingen1.jpg" alt="Photo du Podium">              <img class="quarante" src="images/PodiumJettingen2.jpg" alt="Photo du Podium"></div>
<br>

</section>
<section class="content two-column with-right-sidebar">
<h4>Antoine Mattern vainqueur du GP de la MJC à Buhl en Pass' Cyclisme!</h4>
	<div class="article-info">Rédigé le 15 août</div>
	<p> Après de nombreuses places d'honneur cette année, Antoine est ce mardi monté pour la première fois sur la plus haute marche du podium à Buhl. Une victoire en solitaire avec plus de 3 minutes d'avance sur ses poursuivants ! </p>
	<div style="text-align:center"><img class="cinquante" src="images/AntoineBuhl.jpg" alt="Podium Antoine"></div>
<br>
</section>

<section class="content two-column with-right-sidebar">
<h4>Hugo sélectionné aux championnats d'Europe au Danemark!</h4>
	<div class="article-info">Rédigé le 25 Juillet</div>
	<p> Après plusieurs sélections en Equipe de France Espoirs, Hugo va vivre le dimanche 6 août sa première course sous les couleurs de l'équipe de France élites ! Sélectionné avec 8 autres coureurs par Cyrille Guimard, il épaulera Bryan Coquard.</p>
</section>

{% endblock content %}
