{% extends "index.html.j2" %}

{% block title %}VCS Altkirch | Contre-la-montre par équipes{% endblock title %}
{% block description %}Trouvez toutes les informations sur les organisations du VCS Altkirch, notamment le GP Agri-Center à Jettingen, le cyclo-cross de Saint-Bernard, ...{% endblock description %}

{% block ifindex %}{% endblock %}
{% block ifgrandestdannemarie %}class="selected"{% endblock %}


{% block introcontent %}
<!-- <img class="cover cent" src="images/covers/cover_{{page_name}}.jpg" alt="GP de Dannemarie"> -->
{% endblock introcontent %}

{% block rightsidebar %}
{% endblock rightsidebar %}

{% block content %}



<section class="content racecontent">
 <!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Presentation')" id="defaultOpen">Présentation</button>
  <!-- <button class="tablinks" onclick="openCity(event, 'Reglement')">Règlement</button> -->
  <button class="tablinks" onclick="openCity(event, 'Parcours')">Parcours</button>
  <button class="tablinks" onclick="openCity(event, 'Remerciements')">Remerciements</button>

</div>

<!-- Tab content -->
<div id="Presentation" class="tabcontent" >
  
  <!-- <div style="text-align:center;">  <img class="quarante" src="images/Affiche_CLM_GE.jpg" alt="Affiche" title="Affiche"></div> -->


  <h4>Présentation</h4>

    <p>Le Vélo Club Sundgovia Altkirch souhaitait innover et organiser ainsi en 2020 le Championnat Grand Est de contre-la-montre par équipes. Avec départ et arrivée dans le village de Saint-Bernard (connu des cyclistes de la région pour son cyclo-cross), et en empruntant l'ascension vers Gildwiller-le-Mont (connue des habitués du Grand Prix de Dannemarie), cette épreuve inédite aurait pu voir s'affronter les rouleurs des meilleures équipes de la grande région pour établir le meilleur chrono possible et s'adjuger le titre régional de la discipline. Mais le coronavirus est passé par là, rendant inévitable l'annulatin de l'épreuve. Partie remise ?</p>


</div>


<div id="Parcours" class="tabcontent">

      <p>Un circuit d'environ 19km :
        <ul>  
          <li>Nombre de boucles selon les catégories à définir </li>
        </ul>
      </p>

      <div style="text-align:center;">  <img class="quatrevingtdix" src="images/Parcours_TTT.jpg" alt="Parcours" title="Parcours"></div>


</div>

<div id="Remerciements" class="tabcontent">
  <p>Le VCSA remercie tous ses partenaires et en particulier :
    <ul>
      <li>La Municipalité de Dannemarie</li>
      <li>Les commerçants de Dannemarie et environs</li>
      <li>La police Municipale</li>
      <li>Les coureurs</li>
      <li>Les arbitres</li>
      <li>Les nombreux bénévoles...</li>
    </ul>
  </p>

</div>


</section>


<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

{% endblock content %}
