{% extends "index.html.j2" %}

{% block title %}VCS Altkirch | Contact{% endblock title %}
{% block description %}Une question, une remarque ? N'hésitez pas à nous écrire via ce formulaire...{% endblock description %}

{% block ifindex %}{% endblock %}
{% block ifcircuits %}class="selected"{% endblock %}


{% block introcontent %}
<h2 class="indexwelcome">Formulaire de contact</h2>
{% endblock introcontent %}

{% block content %}
<section class="content two-column with-right-sidebar">
<form action="https://formspree.io/webmaster-vcsa@ntymail.com"
      method="POST">
	<input type="text" name="_gotcha" style="display:none" />

	<p> <label for="nom">Votre nom :</label><br>
    <input type="text" id="nom" name="name" placeholder="Christopher Froome"> </p>
	<p>
		<label for="mail">Votre adresse mail :</label><br>
		<input type="email" id="mail"  name="_replyto" placeholder="chrisfroome@teamsky.fr">
	</p>
	<p>
	<label for="msg">Votre message :</label><br>
	<textarea name="message" id="msg" placeholder="Votre question/remarque ici"></textarea>

	</p>
    <input type="submit" value="Envoyer"><br>
	<p>Après avoir envoyé votre message, vous serez redirigé vers "formspree.io" pour vérifier que vous n'êtes pas un robot, c'est normal !</p>
</form>
</section>
{% endblock content %}
