@import url(https://fonts.googleapis.com/css?family=Open+Sans);

ul {
    margin-top: 0;
    padding: 4%;
}

body { 
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

h1 {
	text-align: center;
}

img {
  vertical-align: middle;
}


/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 90%;
	margin: 20px auto;
	background-color: #F5F6CE
}
header {
	height: 100px;
	padding: 0 10px;
	
}
#content {
	width: 20%;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 50%; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
	background-color: #F5F6CE
}

#sidebar {
	width: 20%;
	padding: 5px 15px;
	float: left;
	


}
footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 98%;
	}
	#content {
		width: 25%;
		padding: 1% 4%;
	}
	#middle {
		clear:both;
		width: 45%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}


#content {
	background: #f8f8f8;
}
#sidebar {
	background: #f8f8f8;
}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, #sidebar, footer {
	border: solid 1px #ccc;
}
