{% extends "index.html.j2" %}

{% block title %}VCS Altkirch | Entraînements{% endblock title %}
{% block description %}Découvrez les lieux et horaires des entraînements du VCS Altkirch, pour les adultes comme pour les écoles de cyclisme !{% endblock description %}

{% block ifindex %}{% endblock %}
{% block ifentrainements %}class="selected"{% endblock %}


{% block introcontent %}
<img class="cover cent" src="images/covers/cover_{{page_name}}.jpg" alt="Entrainements">
{% endblock introcontent %}

{% block content %}
<section class="content two-column with-right-sidebar">
<h2>Les lieux d'entraînements</h2>
		<h4>&#x2022; Le point de rendez-vous</h4>
		<p> Parking du magasin Sundgau Deux Roues à Altkirch</p>
		<iframe style="align:middle;width:85%;min-width:200p;height:30vh" src="https://www.google.fr/maps/d/embed?mid=1KjQrOzrr8nbzcZf1j3TyMm8ChkY" ></iframe>
		<br>
		<br>
		<h4>&#x2022; Le circuit du dimanche à Balschwiller</h4>
		<p> Balschwiller - D18.1 - Saint-Bernard - D18.3 - D18 - Eglingen - Hagenbach - D103 - Balschwiller </p>
		<iframe style="align:middle;width:85%;min-width:200;height:40vh;" src="https://www.google.fr/maps/d/embed?mid=1ELAhfFXgyQcCRbKqJHrQLWGg2OU"></iframe>
</section>

<section class="content two-column with-right-sidebar"><h4> &#x2022; Horaires (jeunes et adultes)</h4>
		<p> Habituellement le mercredi à 15h45, l'horaire de l'entraînement varie légèrement selon les semaines, retrouvez-les en suivant le <a href="http://veloclubaltkirch.xoo.it/index.php">forum du club</a>! D'autres sorties sont également organisées, notamment le samedi et le dimanche matin.<br>L'hiver, une séance d'entraînement en salle a également lieu les vendredis soir au COSEC d'Altkirch.</p>
</section>

<section class="content two-column with-right-sidebar"><h4> &#x2022; Pour l'école de cyclisme</h4>
		<p> Les entraînements des écoles de cyclisme ont lieu le samedi après-midi, Rue du Manège à Altkirch, encadrés par Patrick (diplômé BF1). Là encore, n'hésitez pas à consulter le <a href="http://veloclubaltkirch.xoo.it/index.php">forum</a> ou à nous contacter par mail à l'adresse <a href="mailto:vcsaltkirch@gmail.com">vcsaltkirch@gmail.com</a>.</p>
</section>

<section class="content two-column with-right-sidebar"><h4> &#x2022; Club Strava</h4>
<p> Quelques coureurs altkirchois sont sur Strava et y publient certains ou tous leurs entraînements.. N'hésitez pas à rejoindre le club également, il n'est bien évidemment pas réservé aux licenciés!</p>

<iframe allowtransparency frameborder='0' height='160' scrolling='no' src='https://www.strava.com/clubs/323109/latest-rides/1c98006753d2c4471fccc09975b7e2715bde72ca?show_rides=false' width=80%></iframe>

</section>


{% endblock content %}
