{% extends "index.html.j2" %}

{% block title %}VCS Altkirch | Nous Rejoindre{% endblock title %}

{% block ifindex %}{% endblock %}
{% block ifnousrejoindre %}class="selected"{% endblock %}


{% block introcontent %}
<img class="cover cent" src="images/covers/cover_nousrejoindre.jpg" alt="Le VCSA, une famille!">
{% endblock introcontent %}

{% block content %}
<section class="content two-column with-right-sidebar">
<h2>Nous rejoindre </h2>
		<p> Féru de vélo, sundgauvien (ou non) et à la recherche d'un club, n'hésite pas à venir nous rencontrer!
		Le mieux, c'est de le faire sur le vélo : en nous rejoignant un mercredi (ou samedi, ou dimanche) à un entraînement.</p>

		<p> Le club accueille également les jeunes coureurs, qui pourront rejoindre l'école de cyclisme (7-14 ans).</p>

		<p> Pour en savoir plus sur les horaires d'entraînement ou les modalités à suivre pour nous rejoindre, il y a le <a href="http://veloclubaltkirch.xoo.it/index.php">forum</a>. Vous pouvez également nous contacter par mail à l'adresse <a href="mailto:vcsaltkirch@gmail.com">vcsaltkirch@gmail.com</a>.</p>

		<img src="images/nousrejoindre.jpg" alt="Nous rejoindre">
</section>
{% endblock content %}
