{% extends "index.html.j2" %}

{% block title %}VCS Altkirch | Organisations{% endblock title %}
{% block description %}Trouvez toutes les informations sur les organisations du VCS Altkirch, notamment le GP Agri-Center à Jettingen, le cyclo-cross de Saint-Bernard, ...{% endblock description %}

{% block ifindex %}{% endblock %}
{% block iforganisations %}class="selected"{% endblock %}


{% block introcontent %}
<img class="cover cent" src="images/covers/cover_organisations.jpg" alt="GP de Dannemarie 2018">
{% endblock introcontent %}

{% block content %}

<section class="content two-column with-right-sidebar">
<h4>  	&#x2022; 	Grand Prix de Dannemarie (FFC 2-3-J)</h4>
		<div class="article-info">Dimanche 27 mai 2018.</div>
		<p>Un contre-la-montre le matin, une course en ligne l'après-midi et plusieurs maillots distinctifs... Programme alléchant pour cette nouvelle version du Grand Prix de Dannemarie !<br>
		<b>Consultez <a href="GPDannemarie.html">ICI</a> la page spécifique à cette course, ou accédez à la publication de course <a href="Publication_Dannemarie.pdf">ici</a>.</b></p>
</section>

<section class="content two-column with-right-sidebar">
<h4>  	&#x2022; 	27ème prix Agri-Center Espace Emeraude (FSGT)</h4>
		<div class="article-info">Dimanche 26 août 2018 à Jettingen.</div>
		<p>Encore un circuit sélectif proposé par le VCS Altkirch au calendrier FSGT. Le jeune thannois Simon Bolot l'a emporté en solitaire en 2017 dans la course des 2-3, tandis que Florian Hilsz (ACT Belfort) a dominé les Seniors 4 et David Gehin (AC Thann) chez les Vétérans 4.</p>
</section>

<section class="content two-column with-right-sidebar">
<h4> 	&#x2022; Cyclo-cross de Saint Bernard (FFC)</h4>
		<div class="article-info">Dimanche 21 octobre 2018.</div>
		<p> Cyclo-cross sundgauvien traditionnel, le cyclo-cross de Saint-Bernard aura lieu cette année le dimanche 21 octobre.
		<br>
		La victoire est revenue en 2017 à Hugo Hofstetter, succédant ainsi au palmarès au Suisse Fabian Obrist.</p>
</section>

<section class="content two-column with-right-sidebar">
<h4>  	&#x2022; 	Grand Prix de Seppois-le-Bas (FSGT)</h4>
		<div class="article-info" id="seppois">Dimanche 25 mars 2018.</div>
		<p>Le sélectif Grand Prix de Seppois-le-Bas fait habituellement office de course d'ouverture de la saison route FSGT en Alsace - Franche-Comté.
		Le parcours entre Seppois-le-Bas et Ueberstrass a souri ces deux trois années aux coureurs du VCS Altkirch, puisque la course des 2-3 a été remportée par Ludovic Klein en 2016, par Jérôme Heinis en 2017, et par Florian Kohler en 2018. La série victorieuse pourra-t-elle encore se poursuivre ?
		<!--<div style="text-align:center"><img class="soixante" src="images/Seppois.jpg" alt="Affiche Seppois" title="Affiche Seppois"></div>

		<br>
		Toutes les autres précisions (engagements, etc) <a href="http://fsgt-cyclisme-alsace.shost.ca/route/publications/Publication_Seppois.pdf">ici</a>.--></p>
</section>

{% endblock content %}
