{% extends "index.html.j2" %}

{% block title %}VCS Altkirch | Saint-Bernard{% endblock title %}
{% block description %}Trouvez toutes les informations sur les organisations du VCS Altkirch, notamment le GP Agri-Center à Jettingen, le cyclo-cross de Saint-Bernard, ...{% endblock description %}

{% block ifindex %}{% endblock %}
{% block ifsaintbernard %}class="selected"{% endblock %}


{% block introcontent %}
<img class="cover cent" src="images/covers/cover_{{page_name}}.jpg" alt="Saint-Bernard">
{% endblock introcontent %}

{% block rightsidebar %}
{% endblock rightsidebar %}

{% block content %}



<section class="content racecontent">

 <!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Presentation')" id="defaultOpen">Présentation</button>
  <button class="tablinks" onclick="openCity(event, 'Reglement')">Informations</button>

</div>

<!-- Tab content -->
<div id="Presentation" class="tabcontent">
  <p>Élément incontournable du calendrier cyclo-cross haut-rhinois, le cyclo-cross de Saint-Bernard (FFC) a lieu cette année le 20 octobre.  </br>

  Des plus jeunes aux élites, toutes les catégories ont l'occasion de prouver leurs qualités physiques et techniques sur le parcours tracé autour de l'église de Saint-Bernard ! Les altkirchois auront également à coeur de briller sur leur course, avec notamment de belles chances de voir un ou plusieurs altkirchois sur le podium dans la course des masters.<br>

Du côté des élites & espoirs, <b>le vainqueur succédera à Lucas Brondani</b> (VCS Altkirch à l'époque, désormais membre d'AS Bike Cross Team), qui s'était imposé en 2018 devant Lilian Schneider et Sönke Wegner. 
<br>Si le vainqueur sortant sera absent - car présent au départ de la Coupe du Monde de Berne, excusez du peu ! - le vainqueur de l'édition 2017 tentera quant à lui de récupérer sa couronne ! <b>Hugo Hofstetter (Team Cofidis, licencié au VCS Altkirch) sera en effet au départ</b>, une semaine après avoir participé à sa dernière course professionnelle de la saison du côté de la Belgique. Nul doute toutefois que ses adversaires donneront tout pour essayer de battre le 19ème du dernier Paris-Roubaix ! </p>

  <div style="text-align:center">  <img class="quarante" src="images/SaintBernard.png" alt="Toutes les infos" title="Toutes les infos"></div>

  <h4>Palmarès de la course reine :</h4>
  <p>
      <ul>
      <li>2018 : Lucas Brondani (VCS Altkirch)</li>
      <li>2017 : Hugo Hofstetter (Team Cofidis - VCS Altkirch)</li>
      <li>2016 : Fabien Obrist (Suisse)</li>
      <li>2015 : Cyrille Fretz (MJC Buhl)</li>
      <li>2014 : Damien Mougel (VS Eguisheim)</li>
      <li>2013 : Fabien Canal (EC Armée de Terre)</li>
    </ul>
</p>

</div>

<div id="Reglement" class="tabcontent">
  <p>Tous les détails sur le site du comité Grand Est :
  <br>
  <a href="http://grandestcyclisme.fr/images/VCS-Altkirch-DOCC20oct2019.pdf">Publication</a> et <a href="http://grandestcyclisme.fr/images/VCS-Altkirch-DOCircuit20oct2019.pdf">Plan du parcours</a></p>
  <br>
  Engagements sur le site de la FFC selon la procédure habituelle.
</p>

<p>Restauration sur place (boissons, pâtisseries, sandwichs, etc.) et tombola !</p>
</div>



</section>

<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

{% endblock content %}
