
<!-- AGENDA -->

<div class="beforefooter">
    <div class="main-content">
    	<h2><span>🚴 Agenda 2025 🚴</span></h2>


		<div class="events-section">


            <div></div>
            <div class="events-date">
                30<br>
                <span>Mars</span>
            </div>
            <div class="event-name">
                <h3><a href="{{ site.baseurl }}seppois">GP de Seppois-le-Bas</a></h3>
                <p>Seppois-le-Bas <span class="fede">FSGT</span></p>
            </div>
            <div></div>


            <div></div>
            <div class="events-date">
                18<br>
                <span>Mai</span>
            </div>
            <div class="event-name">
                <h3><a href="{{ site.baseurl }}gp_dannemarie">GP de Dannemarie</a></h3>
                    <p>Dannemarie <span class="fede">FFC</span></p>
            </div>
            <div></div>


            <div></div>
            <div class="events-date">
                15<br>
                <span>Juin</span>
            </div>
            <div class="event-name">
                <h3><a href="#">Prix de la ville d'Altkirch</a></h3>
                <p>Altkirch <span class="fede">FFC Jeunes</span></p>
            </div>
            <div></div>

            <div></div>
            <div class="events-date">
                4<br>
                <span>Juil</span>
            </div>
            <div class="event-name">
                <h3><a href="{{ site.baseurl }}ballersdorf">Critérium Express Sundgoviens</a></h3>
                <p>Ballersdorf <span class="fede">FFC</span></p>
            </div>
            <div></div>

            <div></div>
            <div class="events-date">
                21<br>
                <span>Sept.</span>
            </div>
            <div class="event-name">
                <h3><a href="{{ site.baseurl }}tagolsheim">Cyclo-cross de Tagolsheim</a></h3>
                <p>Tagolsheim <span class="fede">FFC</span></p>
            </div>
            <div></div>

            <div></div>
            <div class="events-date">
                26<br>
                <span>Oct</span>
            </div>
            <div class="event-name">
                <h3><a href="{{ site.baseurl }}saint-bernard">Cyclo-cross de St-Bernard</a></h3>
                <p>Saint-Bernard <span class="fede">FFC</span></p>
            </div>
            <div></div>
    	</div>

	</div>
</div>
<!-- FIN AGENDA -->




<!-- PARTENAIRES -->
<div id="partenaires" class="beforefooter">
    <div class="main-content">

    	<h2><span style="background-color:white">🚴&nbsp;Nos partenaires&nbsp;🚴</span></h2>


		<div class="rTable" style="margin: auto; display: flex; justify-content: center; align-items: center;">

		<div class="rTableBody">
			<div class="rTableRow">
				
				<div class="rTableCell"><a href="http://www.mairie-altkirch.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/Altkirch.png" alt="Ville d'Altkirch" /></a></div>
				<div class="rTableCell"><a href="https://www.sundgau2roues.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/Sundgau2Roues.png" alt="Sundgau 2 Roues" /></a></div>
				<div class="rTableCell"><a href="https://www.setal.eu/"><img src="{{ site.baseurl }}assets/images/partenaires/Setal.jpg" alt="Setal"/></a></div>
                <div class="rTableCell"><a href="https://www.facebook.com/bahlingertagsdorf/?locale=fr_FR"><img src="{{ site.baseurl }}assets/images/partenaires/MaisonBahlinger.png" alt="Maison Bahlinger" /></a></div>
                
			</div>
		</div>
		</div>
		<div class="rTable">
		<div class="rTableBody">
			<div class="rTableRow">
                
               <div class="rTableCell"><a href="https://www.cc-sundgau.fr//"><img src="{{ site.baseurl }}assets/images/partenaires/CCS.png" alt="Communauté de Communes Sundgau" /></a></div>
                <div class="rTableCell"><a href="https://www.creditmutuel.fr"><img src="{{ site.baseurl }}assets/images/partenaires/CreditMutuel.jpg" alt="Crédit Mutuel" /></a></div>
				<div class="rTableCell"><a href="http://www.express-sundgoviens.info/"><img src="{{ site.baseurl }}assets/images/partenaires/ExpressSundgoviens.jpg" alt="Express Sundgoviens" /></a></div>
                 <div class="rTableCell"><a href="https://www.daiichi-sankyo.fr/"><img src="/assets/images/partenaires/DaiichiSankyo.jpg" alt="Daiichi Sankyo"></a></div>
                
				
			</div>
		</div>
		</div>
		<div class="rTable">
		<div class="rTableBody">
			<div class="rTableRow">	
            <div class="rTableCell"><a href="https://www.haut-rhin.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/Departement68.png" alt="Haut Rhin" /></a></div>		
				<div class="rTableCell"><a href="https://www.m-habitat.fr/annuaire/haut-rhin/acei-a-waldighoffen-electricien-28877_I"><img src="{{ site.baseurl }}assets/images/partenaires/AceiElectricite.jpg" alt="ACEI Electricité" /></a></div>
                <div class="rTableCell"><a href="http://www.fun2sport.fr/"><img src="{{ site.baseur1 }}assets/images/partenaires/Fun2Sport.jpg" alt="Fun2Sport"></a></div>
                <div class="rTableCell"><a href="https://www.bigstores-fermetures.com"><img src="{{ site.baseurl }}assets/images/partenaires/BigStores_Fermetures.png" alt="BigStores Fermetures" /></a></div>
                <div class="rTableCell"><a href="https://ams.alsace/"><img src="{{ site.baseurl }}assets/images/partenaires/AMS.png" alt="AMS Agence Multiservices"/></a></div>
				<div class="rTableCell"><img src="{{ site.baseurl }}assets/images/partenaires/TACTUM.png" alt="TACTUM" /></div>
				<div class="rTableCell"><a href="https://www.emporia-immobilier.com"><img src="{{ site.baseurl }}assets/images/partenaires/Emporia_immobilier.png" alt="Emporia Immobilier - Illfurth" /></a></div>
                <div class="rTableCell"><a href="https://www.selmoni-sh.fr/fr/accueil/"><img src="{{ site.baseurl }}assets/images/partenaires/Selmoni_SH.png" alt="Selmoni Smart Handlin" /></a></div>
                <div class="rTableCell"><a href="https://www.confort2000.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/Confort2000.jpg" alt="Confort 2000" /></a></div>

			</div>
		</div>
		</div>

    </div>
</div>
<!-- FIN PRE FOOTER FACEBOOK -->

<!-- PODIUMS -->
<!--
<div id="resultats" class="beforefooter">
    <div class="main-content">
    	<h2><span>🚴 Résultats 🚴</span></h2>

        <br>
        <div class="stats">

            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="15" data-speed="1500">4</div>
                <div class="stats__description">Victoires en 2019</div>
            </div>
        
            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="49" data-speed="1500">4</div>
                <div class="stats__description">Podiums en 2019</div>
            </div>


            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="21" data-speed="1500">27</div>
                <div class="stats__description">Victoires en 2018</div>
            </div>

            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="65" data-speed="1500">62</div>
                <div class="stats__description">Podiums en 2018</div>
            </div>
            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="19" data-speed="1500">27</div>
                <div class="stats__description">Victoires en 2017</div>
            </div>

            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="60" data-speed="1500">62</div>
                <div class="stats__description">Podiums en 2017</div>
            </div>

        </div>


        <br>
        <div class="stats__button_container">
            <h4 class="stats__button"><a href="{{ site.baseurl }}resultats#derniersresultats" role="button">>&nbsp;&nbsp;&nbsp;&nbsp;LES DERNIERS RÉSULTATS</a></h4>
        </div>
    </div>
</div>
-->
<!-- FIN PODIUMS -->

