
<!-- AGENDA -->

<div class="beforefooter">
    <div class="main-content">
    	<h2><span>🚴 Agenda 🚴</span></h2>


		<div class="events-section">


            <div></div>
            <div class="events-date">
                30<br>
                <span>Mai</span>
            </div>
            <div class="event-name">
                <h3><a href="{{ site.baseurl }}gp_dannemarie"><s>GP de Dannemarie</s></a></h3>
                    <p>Dannemarie <span class="fede">FFC</span></p>
            </div>
            <div></div>

			<div></div>
            <div class="events-date">
            	13<br>
                <span>Juin</span>
            </div>
            <div class="event-name">
                <h3><a href="{{ site.baseurl }}jettingen">Prix Agri-Center</a></h3>
                <p>Jettingen <span class="fede">FSGT</span></p>
            </div>
            <div></div>




            <div></div>
            <div class="events-date">
                10<br>
                <span>Juil.</span>
            </div>
            <div class="event-name">
                <h3><a href="{{ site.baseurl }}3h-vtt">Les 3H VTT du VCS Altkirch</a></h3>
                <p>La Palestre, Altkirch <span class="fede">FSGT</span></p>
            </div>
            <div></div>

           	<div></div>
            <div class="events-date">
                26<br>
                <span>Sept.</span>
            </div>
            <div class="event-name">
                <h3><a href="{{ site.baseurl }}seppois">GP de Seppois-le-Bas</a></h3>
                <p>Seppois-le-Bas <span class="fede">FSGT</span></p>
            </div>
            <div></div>




    	</div>

	</div>
</div>
<!-- FIN AGENDA -->




<!-- PARTENAIRES -->
<div id="partenaires" class="beforefooter">
    <div class="main-content">

    	<h2><span style="background-color:white">🚴&nbsp;Nos partenaires&nbsp;🚴</span></h2>


		<div class="rTable">
		<div class="rTableBody">
			<div class="rTableRow">
				<div class="rTableCell"><a href="https://www.cc-sundgau.fr//"><img src="{{ site.baseurl }}assets/images/partenaires/CCS.png" alt="Communauté de Communes Sundgau" /></a></div>
				<div class="rTableCell"><a href="http://www.mairie-altkirch.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/Altkirch.png" alt="Ville d'Altkirch" /></a></div>
				<div class="rTableCell"><a href="https://www.daiichi-sankyo.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/DaiichiSankyo.jpg" alt="Daiichi Sankyo" /></a></div>
				<div class="rTableCell"><a href="https://www.creditmutuel.fr"><img src="{{ site.baseurl }}assets/images/partenaires/CreditMutuel.jpg" alt="Crédit Mutuel" /></a></div>
				<div class="rTableCell"><img src="{{ site.baseurl }}assets/images/partenaires/BoucherieSchmidlin.jpg" alt="Boucherie Schmidlin" /></div>
				<div class="rTableCell"><a href="https://www.setal.eu/"><img src="{{ site.baseurl }}assets/images/partenaires/Setal.jpg" alt="Setal" /></a></div>
			</div>
		</div>
		</div>
		<div class="rTable">
		<div class="rTableBody">
			<div class="rTableRow">
				<div class="rTableCell"><a href="http://www.fun2sport.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/Fun2Sport.jpg" alt="Fun2Sport" /></a></div>
				<div class="rTableCell"><img src="{{ site.baseurl }}assets/images/partenaires/LBprotheses.jpg" alt="LBprotheses" /></div>
				<div class="rTableCell"><a href="http://www.express-sundgoviens.info/"><img src="{{ site.baseurl }}assets/images/partenaires/ExpressSundgoviens.jpg" alt="Express Sundgoviens" /></a></div>
				<div class="rTableCell"><a href="http://www.danielfricker-fermetures.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/IDFermetures.jpg" alt="Daniel Fricker Fermetures" /></a></div>
			</div>
		</div>
		</div>
		<div class="rTable">
		<div class="rTableBody">
			<div class="rTableRow">			
				<div class="rTableCell"><a href="https://www.haut-rhin.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/Departement68.png" alt="Haut Rhin" /></a></div>
				<div class="rTableCell"><a href="https://www.confort2000.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/Confort2000.png" alt="CONFORT 2000" /></a></div>
				<div class="rTableCell"><a href="https://www.lacavedelill.fr/"><img src="{{ site.baseurl }}assets/images/partenaires/CaveDeLIll.jpg" alt="La Cave de l'Ill" /></a></div>
				<div class="rTableCell"><a href="https://www.arcade-engineering.com/"><img src="{{ site.baseurl }}assets/images/partenaires/Arcade.jpg" alt="Arcade Engineering" /></a></div>
				<div class="rTableCell"><a href="https://www.m-habitat.fr/annuaire/haut-rhin/acei-a-waldighoffen-electricien-28877_I"><img src="{{ site.baseurl }}assets/images/partenaires/AceiElectricite.jpg" alt="ACEI Electricité" /></a></div>
				<div class="rTableCell"><a href="https://www.pagesjaunes.fr/pros/52105117"><img src="{{ site.baseurl }}assets/images/partenaires/MarcBoetsch.jpg" alt="Marc Boetsch" /></a></div>
			</div>
		</div>
		</div>

    </div>
</div>
<!-- FIN PRE FOOTER FACEBOOK -->

<!-- PODIUMS -->
<div id="resultats" class="beforefooter">
    <div class="main-content">
    	<h2><span>🚴 Résultats 🚴</span></h2>

        <br>
        <div class="stats">

            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="15" data-speed="1500">4</div>
                <div class="stats__description">Victoires en 2019</div>
            </div>
        
            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="49" data-speed="1500">4</div>
                <div class="stats__description">Podiums en 2019</div>
            </div>


            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="21" data-speed="1500">27</div>
                <div class="stats__description">Victoires en 2018</div>
            </div>

            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="65" data-speed="1500">62</div>
                <div class="stats__description">Podiums en 2018</div>
            </div>
            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="19" data-speed="1500">27</div>
                <div class="stats__description">Victoires en 2017</div>
            </div>

            <div class="stats__item">
                <div class="stats__number timer count-title count-number" data-to="60" data-speed="1500">62</div>
                <div class="stats__description">Podiums en 2017</div>
            </div>

        </div>


        <br>
        <div class="stats__button_container">
            <h4 class="stats__button"><a href="{{ site.baseurl }}resultats#derniersresultats" role="button">>&nbsp;&nbsp;&nbsp;&nbsp;LES DERNIERS RÉSULTATS</a></h4>
        </div>
    </div>
</div>
<!-- FIN PODIUMS -->

