<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>📰 Revue de presse 📰</span></h5>
            
            <ul class="revuedepresse">
                <li>14/05/2025 : <a href="https://www.lalsace.fr/sport/2025/05/14/contre-la-montre-au-reveil-bagarre-a-l-heure-de-la-sieste">CLM au réveil, bagarre à l'heure de la sieste à Dannemarie (L'Alsace)</a></li>
                <li>05/04/2025 : <a href="https://www.lalsace.fr/societe/2025/04/05/les-cyclistes-au-rendez-vous-du-grand-prix">Seppois-le-Bas : Les cyclistes au rendez-vous au GP (L'Alsace)</a></li>
                <li>10/03/2025 : <a href="https://www.lalsace.fr/culture-loisirs/2025/03/10/le-velo-club-sundgovia-revise-ses-gammes-en-toscane">Le VCSA révise ses gammes en Toscane</a> (L'Alsace)</li>
                <li>31/10/2024 : <a href="https://www.lalsace.fr/culture-loisirs/2024/10/31/un-cyclo-cross-qui-a-tenu-toutes-ses-promesses">Un cyclo-cross qui a tenu toutes ses promesses</a> (L'Alsace)</li>
                <li>22/07/2024: <a href="https://www.lalsace.fr/culture-loisirs/2024/07/22/le-vcsa-brille-au-tour-du-territoire-de-belfort">Le VCSA brille au Tour du Territoire de Belfort</a> (L'Alsace)</li>
                <li>16/07/2024: <a href="https://www.ami-hebdo.com/lecole-de-cyclisme-du-vcsa-en-stage-en-toscane/">L’école de cyclisme du VCSA en stage en Toscane</a> (L'Ami Hebdo)</li>
                <li>07/05/2024: <a href="https://www.lalsace.fr/societe/2024/05/07/une-page-de-l-avenir-du-cyclisme-francais-s-ecrit-a-altkirch">Une page de l'avenir du cyclisme français s'écrit à Altkirch</a> (L'Alsace)</li>
                <li>24/04/2024: <a href="https://www.ami-hebdo.com/une-superbe-vitrine-pour-le-velo-club/">Une superbe vitrine pour le Vélo Club</a> (L'Ami Hebdo)</li>
                <li>29/09/2023: <a href="https://c.lalsace.fr/culture-loisirs/2023/09/29/l-avenir-du-cyclisme-sur-route-francais-a-altkirch-en-mai-2024">L’avenir du cyclisme français à Altkirch en mai 2024</a> (L'Alsace)</li>
                <li>18/08/2023: <a href="https://www.lalsace.fr/sport/2023/08/18/les-altkirchois-veulent-briller-a-jettingen">Les altkirchois veulent briller à Jettingen</a> (L'Alsace)</li>
                <li>18/06/2023: <a href="https://www.lalsace.fr/culture-loisirs/2023/06/18/altkirch-50-jeunes-en-quete-du-grand-prix">Altkirch : 50 jeunes en quête du GP</a> (L'Alsace)</li>
                <li>05/05/2023: <a href="https://www.lalsace.fr/sport/2023/05/05/lottmann-en-metronome">Lottmann en métronome</a> (L'Alsace)</li>
                <li>23/03/2023: <a href="https://www.lalsace.fr/sport/2023/03/23/la-passe-de-sept-pour-le-vcs-altkirch">La passe de sept pour le VCS Altkirch ?</a> (L'Alsace)</li>
                <li>25/07/2022: <a href="https://www.lalsace.fr/culture-loisirs/2022/07/25/un-maillot-a-pois-pour-le-vcsa-au-tour-du-territoire-de-belfort">Un maillot à pois pour le VCSA au TTB</a> (L'Alsace)</li>
                <li>09/07/2022: <a href="https://www.lalsace.fr/sport/2022/07/09/une-affaire-de-famille-qui-roule">Une affaire de famille qui roule</a> (L'Alsace)</li> 
                <li>06/07/2022: <a href="https://www.dna.fr/sport/2022/07/06/lottmann-a-fait-craquer-mathern">Lottmann a fait craquer Mathern</a> (DNA)</li> 
                <li>17/06/2022: <a href="https://www.lalsace.fr/societe/2022/06/17/un-grand-prix-pour-les-jeunes">Un Grand Prix pour les jeunes</a> (L'Alsace)</li>
                <li>15/05/2022: <a href="https://www.lequipe.fr/Cyclisme-sur-route/Actualites/Hugo-hofstetter-arkea-samsic-remporte-le-tro-bro-leon/1333184">Hugo Hofstetter remporte le Tro Bro Leon</a> (L'Equipe)</li>
                <li>03/04/2022: <a href="https://www.lalsace.fr/sport/2022/04/03/testud-prend-le-relais">Testud prend le relais</a> (L'Alsace)</li>
                <li>01/04/2022: <a href="https://www.lalsace.fr/sport/2022/04/01/julien-batlle-en-reconquete">Julien Batlle en reconquête</a> (L'Alsace)</li>
                <li>13/11/2021: <a href="https://www.lalsace.fr/sport/2021/11/13/hugo-hofstetter-retrouve-sa-famille-du-vcs-altkirch">Hugo Hofstetter retrouve «sa famille» du VCS Altkirch</a> (L'Alsace)</li>
                <li>04/10/2021: <a href="https://www.lalsace.fr/culture-loisirs/2021/10/04/une-aventure-de-24-heures-pour-six-amis">Une aventure de 24h pour six amis</a> (L'Alsace)</li>
                <li>26/09/2021: <a href="https://www.lalsace.fr/sport/2021/09/26/batlle-titre-en-force">Batllé titré en force à Seppois-le-Bas</a> (L'Alsace)</li>
                <li>13/09/2021: <a href="https://www.lalsace.fr/sport/2021/08/29/victoire-de-mattern">Victoire de Mattern</a> (L'Alsace)</li>
                <li>18/08/2021: <a href="https://www.dna.fr/sport/2021/08/18/hugo-hofstetter-s-aere-avec-les-coureurs-du-vcs-altkirch">Hugo Hofstetter s'aère avec les coureurs du VCS Altkirch</a> (L'Alsace)</li>
                <li>11/08/2021: <a href="https://www.badische-zeitung.de/kurz-gemeldet-xhaazciax--204022162.html">Dörings Premierensieg</a> (Badische Zeitung)</li>
                <li>02/08/2021: <a href="https://www.estrepublicain.fr/sport/2021/08/02/l-alsacien-valentin-testud-vainqueur-au-grand-prix-d-authoison">L'Alsacien Valentin Testud vainqueur au GP d'Authoison</a> (L'Est Republicain)</li>
                <li>13/06/2021: <a href="https://www.lalsace.fr/sport/2021/06/13/testud-rejouit-le-vcs-altkirch">Testud réjouit le VCS Altkirch</a> (L'Alsace)</li>
                <li>03/10/2020: <a href="https://www.lalsace.fr/sport/2020/10/03/faire-naitre-une-generation-hofstetter">Le VCSA rêve de faire naître une génération Hofstetter</a> (L'Alsace)</li>
                <li>10/09/2020: <a href="https://www.lalsace.fr/sport/2020/09/10/une-belle-victoire-pour-le-velo-club-sundgovia">Une belle victoire pour le VC Sundgovia</a> (L'Alsace)</li>
                <li>08/09/2020: <a href="https://www.lalsace.fr/culture-loisirs/2020/09/08/le-plein-de-vetetistes-et-de-sensations">A Altkirch, le plein de vététistes et de sensations</a> (L'Alsace)</li>
                <li>21/08/2020: <a href="https://www.lalsace.fr/sport/2020/08/21/hugo-hofstetter-au-tour-de-france-c-est-officiel">H. Hofstetter au Tour de France, c'est officiel !</a> (L'Alsace)</li>
                <li>10/08/2020: <a href="https://www.dna.fr/sport/2020/08/10/le-velo-club-sundgovia-est-de-retour">Le VCS Altkirch est de retour</a> (DNA)</li>
                <li>04/02/2020: <a href="https://www.lequipe.fr/Cyclisme-sur-route/Actualites/Le-samyn-l-alsacien-hugo-hofstetter-israel-start-up-nation-s-impose/1115932">Le Samyn : L'Alsacien Hugo Hofstetter s'impose</a> (L'Equipe)</li>
                <li>03/02/2020 :  <a href="https://c.lalsace.fr/edition-sundgau-trois-frontieres/2020/03/03/le-velo-club-sundgovia-altkirch-en-toscane">Le VC Sundgovia Altkirch en Toscane</a> (L'Alsace)</li>
                <li>21/01/2020 : <a href="https://www.lalsace.fr/sport/2020/01/21/encore-plus-carre">Encore plus carré</a> (L'Alsace)</li>
                <li>08/11/19 : <a href="https://www.lalsace.fr/haut-rhin/2019/11/09/la-belle-saison-du-vcs-altkirch">La belle saison du VCS Altkirch</a> (L'Alsace)</li>
                <li>10/06/19 : <a href="https://www.lalsace.fr/haut-rhin/2019/06/10/les-3-heures-de-vtt-sous-le-soleil">Les 3 heures de VTT sous le soleil</a> (L'Alsace)</li>
                <li>25/03/19 : <a href="https://www.lalsace.fr/haut-rhin/2019/03/25/pierre-souffle-le-show">Pierré souffle le show à Seppois-le-Bas</a> (L'Alsace)</li>
                <li>19/03/19 : <a href="https://www.lalsace.fr/haut-rhin/2019/03/19/le-velo-club-sundgovia-en-toscane">Le Velo Club Sundgovia en Toscane</a> (L'Alsace)</li>
                <li>23/11/18 : <a href="https://www.dna.fr/edition-de-saint-louis-altkirch/2018/11/23/une-saison-reussie">VCSA : Une saison réussie</a> (DNA)</li>
                <li>12/11/18 : <a href="https://www.lalsace.fr/sport/2018/11/12/brondani-seul-en-tete">Brondani seul en tête</a> (L'Alsace)</li>
                <li>22/10/18 : <a href="https://www.lalsace.fr/sport/2018/10/22/brondani-au-nom-des-siens">Brondani au nom des siens</a> (L'Alsace)</li>
                <li>24/09/18 : <a href="https://www.lalsace.fr/sport/2018/09/24/brondani-taille-patron">Brondani, taille patron</a> (L'Alsace)</li>
                <li>04/06/18 : <a href="https://www.lalsace.fr/sport/2018/06/04/le-grand-bond-de-kohler">Le grand bond de Kohler</a> (L'Alsace)</li>
                <li>28/05/18 : <a href="https://www.lalsace.fr/sport/2018/05/28/grimont-au-bout-du-suspense">Grimont au bout du suspense</a> (L'Alsace)</li>
                <li>27/05/18 : <a href="https://www.lalsace.fr/sport/2018/05/27/fricker-l-homme-de-fer">Fricker, l'homme de fer</a> (L'Alsace)</li>
                <li>18/05/18 : <a href="https://www.directvelo.com/actualite/66278/hugo-hofstetter-c-est-une-liberation">Hugo Hofstetter : "C'est une libération"</a> (DirectVelo)</li>
                <li>14/05/18 : <a href="https://www.estrepublicain.fr/sport-franc-comtois/2018/05/14/deux-secondes-de-bonheur-pour-kohler">Deux secondes de bonheur pour Kohler</a> (L'Est Républicain)</li>
                <li>28/04/18 : <a href="https://www.lalsace.fr/sport/2018/04/28/brondani-en-terrain-conquis">Brondani en terrain conquis</a> (L'Alsace)</li>
                <li>16/04/18 : <a href="https://www.lalsace.fr/sport/2018/04/16/canal-renoue-avec-le-succes">Canal renoue avec le succès</a> (L'Alsace)</li>
                <li>08/04/18 : <a href="https://www.dna.fr/sports/2018/04/08/du-rene-schlienger-dans-le-texte">Du René Schlienger dans le texte</a> (DNA)</li>
                <li>25/03/18 : <a href="https://www.lalsace.fr/sport/2018/03/26/kohler-double-avec-schlienger">Kohler double avec Schlienger</a> (L'Alsace)</li>
                <li>05/12/17 : <a href="http://www.lalsace.fr/sport/2017/12/05/le-vcs-altkirch-a-un-tournant">Le VCS Altkirch à un tournant</a> (L'Alsace)</li>
                <li>23/10/17 : <a href="http://www.lalsace.fr/sport/2017/10/23/hofstetter-en-force">Hofstetter en force</a> (L'Alsace)</li>
                <li>10/10/17 : <a href="http://www.dna.fr/sports/2017/10/10/batlle-l-emporte-au-salbert">Batlle l'emporte au Salbert</a> (DNA)</li>
                <li>24/07/17 : <a href="http://www.lalsace.fr/actualite/2017/07/24/hofstetter-a-l-euro">Hofstetter à l'Euro</a> (L'Alsace)</li>
                <li>20/07/17 : <a href="http://www.radiopeloton.fr/2017/07/20/kohler-sans-pitie-pour-les-franciliens/">Kohler sans pitié pour les franciliens</a> (Radio Peloton)</li>
                <li>02/05/17 : <a href="http://www.lalsace.fr/sport/2017/05/02/heinis-ouvre-le-palmares">Heinis ouvre le palmarès</a> (L'Alsace)</li>
                <li>24/04/17 : <a href="http://www.lalsace.fr/sport/2017/04/24/la-premiere-pour-grimont">La première pour Grimont</a> (L'Alsace)</li>
                <li>20/03/17 : <a href="http://www.lalsace.fr/sport/2017/03/20/heinis-au-bonheur-du-vcs-altkirch">Heinis au bonheur du VCS Altkirch</a> (L'Alsace)</li>
                <li>17/03/17 : <a href="http://www.dna.fr/edition-de-saint-louis-altkirch/2017/03/17/le-vcs-altkirch-bien-represente">Le VCS Altkirch bien représenté</a> (DNA)</li>
                <li>28/12/16 : <a href="http://www.dna.fr/edition-de-saint-louis-altkirch/2016/12/28/1-800-pour-le-vcs-altkirch">1800€ pour le VCS Altkirch</a> (DNA)</li>
                <li>30/09/16 : <a href="http://www.lalsace.fr/sport/2016/11/30/l-effet-hofstetter-au-vcs-altkirch">L'effet Hofstetter au VCS Altkirch</a> (L'Alsace)</li>
                <li>02/06/16 : <a href="http://www.lalsace.fr/sport/2016/06/02/l-union-sacree-au-vcs-altkirch">L'union sacrée au VCS Altkirch</a> (L'Alsace)</li>
            </ul>
        </div>
            

        <div id="mobilehidden" class="sidebar-section">
            <h5><span>🔗 Liens utiles 🔗</span></h5>
            <ul class="liensutiles">
                <li><a href="https://comitegrandestcyclisme.fr/">FFC Grand Est</a></li>
                <li><a href="https://www.cd-68-ffc.fr/">FFC CD 68</a></li>
                <li><a href="https://www.cyclismefsgt68.com/">FSGT Cyclisme Alsace</a></li>
                <li><a href="http://ffc-bfc.fr">FFC Bourgogne Franche-Comté</a></li>
                <li><a href="http://rad-net.de">Fédération Allemande</a></li>
                <li><a href="http://swiss-cycling.ch/fr.html">Fédération Suisse</a></li>
                <li><a href="http://www.meteofrance.com/previsions-meteo-france/altkirch/68130">Météo Altkirch</a></li>
            </ul>
        </div>
            

</div>