---
layout: default
---

{% if page.image != null and page.image != "" %}
<div class="topimg">
    <div class="nocovering">
		<!-- <img src="{{ site.baseur1 }}/assets/images/covers/cover_{{page.path | remove: ".md" | remove: ".html" }}.jpg" alt="cover"> -->
		<img src="{{ site.baseurl }}assets/images/covers/{{ page.path | remove: ".md" | remove: ".html" }}.jpg" alt="Image de couverture">
	</div>
</div>
{% endif %}

<!-- Content
================================================== --> 
<div class="main-content page">
	<section>
	    <div class="article-post">
	    {{content}}
	    </div>
	    
	    
	</section>

</div>